<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dr. Adam Reynolds</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap"
        rel="stylesheet">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">

    <link th:href="@{/css/vegas.min.css}" rel="stylesheet">

    <link th:href="@{/css/tooplate-barista.css}" rel="stylesheet">
    <!--

Tooplate 2137 Barista

https://www.tooplate.com/view/2137-barista-cafe

Bootstrap 5 HTML CSS Template

-->
</head>

<body class="reservation-page">

    <main>
        <section class="booking-section section-padding2">
            <div class="booking-form-wrap3">
                <div class="row">
                    <form class="custom-form booking-form" id="registration-form" action="#" method="post" role="form">
                        <div class="text-center mb-4 pb-lg-2">
                            <h2 class="text-white">Dr. Adam Reynolds</h2>
                            <button type="button" class="btn btn-secondary float-end" onclick="history.back()">Back</button>
                        </div>
                        <div class="row justify-content-center" style="width: 1400px">
                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info5 d-flex flex-column">
                                        <p class="text-white mb-0"></p>
                                    </div>
                                    <div class="team-block-image-wrap">
                                        <img src="../images/team/Adam.jpg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-12 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="row">
                                        <div class="col-3"><br>
                                            <h5 class="text-white mb-0">Education</h5>
                                        </div>
                                        <div class="col-9">
                                            <br>
                                            <p class="text-white mb-0">Doctor of Business Administration (DBA)</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-3">
                                            <h5 class="text-white mb-0">Professional Experience</h5>
                                        </div>
                                        <div class="col-9">
                                            <p class="text-white mb-0">Riverside University, Department of Business
                                                Administration, 2015 - Present
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-3">
                                            <h5 class="text-white mb-0">Achievements</h5>
                                        </div>
                                        <div class="col-9">
                                            <ul>

                                                <li>Authored several influential papers on strategic management and
                                                    organizational behavior published in top-tier business journals.
                                                </li>
                                                <li>Led a successful organizational restructuring project that increased
                                                    operational efficiency by 30% at Strategic Solutions Inc.</li>
                                            </ul>
                                        </div>                    
                                    </div>

                                    <br>
                                    <div class="row">
                                        <div class="col-3">
                                            <h5 class="text-white mb-0">Research Interests</h5>
                                        </div>
                                        <div class="col-9">
                                            <ul>
                                                <li>Strategic Management</li>
                                                <li>Business Process Optimization</li>
                                                <li>Organizational Behavior</li>
                                                <li>Leadership Development</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                </div>
                </form>
            </div>
            </div>
        </section>
    </main>

</body>

</html>