<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Courses</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap"
        rel="stylesheet">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">

    <link th:href="@{/css/vegas.min.css}" rel="stylesheet">

    <link th:href="@{/css/tooplate-barista.css}" rel="stylesheet">
    <!--

Tooplate 2137 Barista

https://www.tooplate.com/view/2137-barista-cafe

Bootstrap 5 HTML CSS Template

-->
</head>

<body class="reservation-page">

    <main>
        <nav class="navbar navbar-expand-lg">

        </nav>

        <section class="booking-section section-padding2">

            <div class="booking-form-wrap3">
                <div class="row">
                    <form class="custom-form booking-form" id="registration-form" action="#" method="post" role="form">
                        <div class="text-center mb-4 pb-lg-2">
                            <button type="button" class="btn btn-secondary float-end" onclick="history.back()">Home</button>
                            <h2 class="text-white">Courses</h2>
                            
                        </div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-3 col-md-6 col-12 mb-4">
                                    <div class="team-block-wrap">
                                        <div class="team-block-info d-flex flex-column">
                                            <div class="d-flex mt-auto mb-3">
                                                <h4 class="text-white mb-0">Computer Science</h4>
                                            </div>
                                            <p class="text-white mb-0">Computer systems, network security, database
                                                systems</p>
                                        </div>
                                        <div class="team-block-image-wrap">
                                            <img th:src="@{/images/team/IT.jpg}" class="team-block-image img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-12 mb-4">
                                    <div class="team-block-wrap">
                                        <div class="team-block-info2 d-flex flex-column">
                                            <div class="d-flex mt-auto mb-3">
                                                <h4 class="text-white mb-0">Business Management</h4>
                                            </div>
                                            <p class="text-white mb-0">Planning, Organizing, and Controlling the
                                                activities of a business</p>
                                        </div>
                                        <div class="team-block-image-wrap">
                                            <img th:src="@{/images/team/Business.png}" class="team-block-image img-fluid"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-12 mb-4">
                                    <div class="team-block-wrap">
                                        <div class="team-block-info3 d-flex flex-column">
                                            <div class="d-flex mt-auto mb-3">
                                                <h4 class="text-white mb-0">Civil Engineering</h4>

                                            </div>
                                            <p class="text-white mb-0"> Design, infrastructure, deepest tunnels and
                                                sustainability</p>
                                        </div>
                                        <div class="team-block-image-wrap">
                                            <img th:src="@{/images/team/Civil.jpg}" class="team-block-image img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-12">
                                    <div class="team-block-wrap">
                                        <div class="team-block-info4 d-flex flex-column">
                                            <div class="d-flex mt-auto mb-3">
                                                <h4 class="text-white mb-0">IT Management</h4>
                                            </div>
                                            <p class="text-white mb-0">Kanban, Agile Mathology, Scrum and Leadership</p>
                                        </div>

                                        <div class="team-block-image-wrap">
                                            <img th:src="@{/images/team/ITM.jpg}" class="team-block-image img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
            </div>
            </div>
        </section>
    </main>

    <!-- JAVASCRIPT FILES -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.sticky.js}"></script>
    <script th:src="@{/js/click-scroll.js}"></script>
    <script th:src="@{/js/vegas.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>

    <!-- Custom JavaScript to handle form submission -->

</body>

</html>