<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>E-learning</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap"
        rel="stylesheet">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">

    <link th:href="@{/css/vegas.min.css}" rel="stylesheet">

    <link th:href="@{/css/tooplate-barista.css}" rel="stylesheet">

    <!--

Tooplate 2137 Barista Cafe

https://www.tooplate.com/view/2137-barista-cafe

Bootstrap 5 HTML CSS Template

-->
</head>

<body>
    <main>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
                    <img th:src="@{/images/coffee-beans.png}" class="navbar-brand-image img-fluid" alt="Barista Cafe Template">
                    E learning
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav"><div id="sticky-wrapper" class="sticky-wrapper" style="height: 154px;"><nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
                            <img th:src="@{/images/coffee-beans.png}" class="navbar-brand-image img-fluid" alt="Barista Cafe Template">
                            E learning
                        </a>
        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
        
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-lg-auto">
                                <li class="nav-item">
                                    <a class="nav-link click-scroll active" th:href="@{/index}">Home</a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link click-scroll inactive" th:href="@{/courses}">Courses</a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link click-scroll inactive" th:href="@{/faculty}">Faculties</a>
                                </li>
        
                                <li class="nav-item">
                                    <a class="nav-link click-scroll inactive" th:href="@{/}">About Us</a>
                                </li>                        
                            </ul>
                            <div class="ms-lg-3">
                                <a class="btn custom-btn custom-border-btn" th:href="@{/registration}">
                                    Registration
                                    <i class="bi-arrow-up-right ms-2"></i>
                                </a>
                            </div>
                            <div class="ms-lg-3">
                                <a class="btn custom-btn custom-border-btn2" th:href="@{/signIn}">
                                    Sign in
                                   
                                </a>
                            </div>
                            <div class="ms-lg-3">
                                <a class="btn custom-btn custom-border-btn2" id="logout-button" href="javascript:void(0);">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </nav></div>
                    <ul class="navbar-nav ms-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" th:href="@{/courses}">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" th:href="@{/faculty}">Faculties</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" th:href="@{/}">About Us</a>
                        </li>                        
                    </ul>
                    <div class="ms-lg-3">
                        <a class="btn custom-btn custom-border-btn" th:href="@{/registration}">
                            Registration
                            <i class="bi-arrow-up-right ms-2"></i>
                        </a>
                    </div>
                    <div class="ms-lg-3">
                        <a class="btn custom-btn custom-border-btn2" th:href="@{/signIn}">
                            Sign in
                           
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <img th:src="@{/images/sincere-laugh-showing-picture-smartphone-casual-meeting-with-best-friends-restaurant-terrace.gif}"
            width="100%" height="10%" style="
                width: 1536px;
                height: 668px;
            ">
            
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                   <div class="col-lg-8 col-12 mt-4">
                        <p class="copyright-text mb-0"><b>Copyright © e learning 2024</b>
                        </p>
                    </div>
                </div>
        </footer>
    </main>

    <!-- JAVASCRIPT FILES -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.sticky.js}"></script>
    <script th:src="@{/js/click-scroll.js}"></script>
    <script th:src="@{/js/vegas.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script>
    function getCsrfToken() {
            return document.querySelector("meta[name='_csrf']").getAttribute("content");
        }

        function getCsrfHeader() {
            return document.querySelector("meta[name='_csrf_header']").getAttribute("content");
        }

        function getJwtToken() {
            return localStorage.getItem('jwtToken');
        }

        document.getElementById('logout-button').addEventListener('click', function() {
            // Clear JWT token from local storage
            localStorage.removeItem('jwtToken');

            // Call logout API
            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    [getCsrfHeader()]: getCsrfToken() // Include CSRF token in headers
                },
                credentials: 'include' // Include credentials if your API requires it
            })
            .then(response => {
                if (response.ok) {
                    // Redirect to login page or home page
                    window.location.href = '/signIn'; // Adjust as needed
                } else {
                    alert('Logout failed');
                }
            })
            .catch(error => {
                console.error('Error logging out:', error);
                alert('Logout failed');
            });
        });
    </script>
</body>

</html>
